.hero-section {
  position: relative;
  text-align: center;
  
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .hero-image {
    width: 100%;
    opacity: 0.7;

    @media only screen and (max-width: 768px) {
      opacity: 0.9;
    }
  }

  .top-hero {
    .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 900;
    }
  }

  .left-bar {
    .hero-text {
      position: absolute;
      top: 23%;
      left: 38%;
      transform: translate(-50%, -50%);
      font-size: 4rem;
      font-weight: 800;

      @media only screen and (max-width: 768px) {
        & {
          top: 50%;
          left: 50%;
          width: 60%;
          font-size: 2rem;
        }
      }

      @media only screen and (max-width: 812px) and (orientation: landscape) {
        & {
          top: 50%;
          left: 58%;
          width: 100%;
        }
      }

    }
  }

  .hero-router {
    color: white;
  }

  .right-bar {


    .one-bar {
      position: relative;
      
      @media (min-width: 1281px)  {
        &::before {
          background: linear-gradient(to bottom, rgba(26,112,9,1) 0%, rgba(21,195,214,1) 51%, rgba(223,225,94,1) 100%);
        }
  
        &:hover::before {
          height: 100%;
          opacity: .5;
          transition:  0.5s ease-out;
        }
      }

    }

    .hero-text {
      position: absolute;
      text-align: left;
      padding-left: 35px;
      left: 0;
      top: 50%;
      width: 100%;
      font-size: 2rem;
      font-weight: 900;

      @media only screen and (max-width: 768px) {
        & {
          transform: translate(-50%, -50%);
          text-align: center;
          padding-left: 0;
          left: 50%;
          top: 50%;
          width: 100%;
        }
      }

    }

    .four-bar {
      text-align: left;

      .hero-text-min {
        position: absolute;
        top: 10%;
        left: 9%;
        font-size: 1.5rem;
        font-weight: 900;
        padding-right: 5%;

        @media only screen and (max-width: 768px) {
          & {
            text-align: center;
            left: 0;
            padding: 5%;
            width: 100%;
          }
        }
      }

      .first {

        @media (min-width: 1281px)  {
          & {
            left: 8%;
          }
        }
        
        
      }
    }
  }
}