.custom-body {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  overflow: auto;

  .middle {

    background: #000000;

    .middle-title {
      font-weight: 900;

      @media only screen and (max-width: 768px) {
        & {
          font-size: 2rem;
          margin-top: 2.5rem !important;
          margin-bottom: 2.5rem !important;
        }
      }
    }

    .service-card {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 140px;
      margin-bottom: 10px;
      background-size: cover;
      transition: all 1s ease-in-out;
      background-blend-mode: normal;
       

      &:hover {
        background-size: 800px;
        background-position: center;
        background-blend-mode: overlay;
      }
      
      h4 {
        font-weight: 600;
        font-size: 1.8rem;
        margin: 0;
      }
    }

    .col-lg-3 {
      @media only screen and (max-width: 768px) {
        & {
          padding: 0;
        }
      }
    }

    .middle-item {

      
      height: 250px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 5%;

      @media only screen and (max-width: 768px) {
        & {
          width: auto;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 5%;

          .item-image {
            width: 300px;
          }

          .item-title {
            width: 200px;
          }
        }
      }

      @media only screen and (max-width: 812px) and (orientation: landscape) {
        & {
          .item-image {
            width: 100%;
          }
        }
      }



      @media screen and (max-width: 992px) {
        

        .item-image {

          &:hover {
            width: 400px;
            height: 400px;
          }
        }
      }
      .item-image {
        width: 250px;
        height: 250px;
        transition:  0.5s ease-out;

        &:hover {
          width: 300px;
          height: 300px;
        }
      }

      
    }

    .middle-item-title {
      text-align: center;
      @media only screen and (max-width: 768px) {
        margin-bottom: 6rem;
      }

      .item-title {
        font-size: 1.2rem;
        font-weight: 900;
      }
    }
  }

  .section-footer {
    background-image: url(../../image/sectionFooter.jpg);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: static;
    width: 100%;
    z-index: 0;

    @media screen and (max-width: 992px) {
      display: none;
    }

    .footer-inner {
      padding-top: 64px;
      position: relative;
      width: 100%;
      height: 400px;
      z-index: 10;

      &::before {
        background: -webkit-linear-gradient(top,#000,rgba(0,0,0,.3));
        background: linear-gradient(to bottom,#000,rgba(0,0,0,.3));
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
    }
  }

  .references-section {
    margin: 0 auto;
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    .reference-wrapper {
      width: 200px;
      margin: 10px;

      .reference {
        width: 100%;
      }
    }
  }
}