.parmakizi-wrapper {
  .section-body-text {
    @media (min-width: 1281px) {
      font-size: 1.5rem;
    }
  }
  .p-icon-wrapper {
    .p-icon {
      padding-left: 15%;
      padding-right: 15%;
      margin: 4%;
      .p-icon-text {
      background: linear-gradient(to bottom, rgba(48,200,205,1) 0%, rgba(28,192,192,1) 100%);

        .p-icon-icon {
          width: 40px;
          margin: 15px;
        }
      }
    }
  }
}