@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
}

.App {
  text-align: center;
}


.hero-image {
  width: 100%;
}

.navbar-wrapper {
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  
    .navbar-dark {
      background-color: #883334;
      display: flex;
      justify-content: center;

      .nav-logo {
        width: 150px;
        padding: 10px;
      }
    }
  }
}

.footer-wrapper {


  .footer-bg {
    position: relative;
    min-height: calc(50vh - 80px);
    background-image: url('./image/anasayfa_footer.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom,#000 0,rgba(0,0,0,.8) 6%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.8) 94%,#000 100%);
      height: 100%;
    }
  }



  .footer-dark {
    display: flex;
    justify-content: center;

    .footer-logo {
      width: 15%;

      @media only screen and (max-width: 768px) {
        & {
          width: 40%;
        }
      }
    }
  }

  .social-media {
    display: flex;
    justify-content: center;

    .social-icon {
      width: 40px;
    }
  }

  .connect {
    font-size: 1.3rem;

    @media only screen and (max-width: 768px) {
      & {
        font-size: 1rem;
      }
    }
  }
}


.custom-body {
  background-color: #000;
  -webkit-font-smoothing: antialiased;


  .hero-section {
    position: relative;
    text-align: center;
    
    .container-fluid {
      padding-right: 0px;
      padding-left: 0px;
    }

    .top-hero {
      .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
      }
    }

    .left-bar {
      .hero-text {
        position: absolute;
        top: 39%;
        left: 44%;
        transform: translate(-50%, -50%);
        font-size: 1.3rem;

        @media only screen and (max-width: 768px) {
          & {
            left: 40%;
            top: 56%;
            font-size: 1rem;
          }
        }

      }

      .hero-logo {
        position: absolute;
        top: 23%;
        left: 34%;
        width: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: 768px) {
          & {
            top: 23%;
            left: 40%;
            width: 60%;
          }
        }
      }
    }

    .right-bar {


      .hero-text {
        position: absolute;
        top: 50%;
        left: 16%;
        font-size: 2rem;
        transform: translate(-50%, -50%);
        font-weight: 900;

        @media only screen and (max-width: 768px) {
          & {
            left: 34%;
          }
        }
      }

      .four-bar {
        text-align: left;

        .hero-text-min {
          position: absolute;
          top: 10%;
          left: 9%;
          font-size: 1.5rem;
          font-weight: 900;
        }

        .first {
          left: 8%;
        }
      }
    }
  }

  .middle {

    background: linear-gradient(to bottom, rgba(79,78,79,1) 0%, rgba(0,0,0,1) 100%);

    .middle-title {
      font-weight: 900;

      @media only screen and (max-width: 768px) {
        & {
          font-size: 1.5rem;
          margin-top: 2.5rem !important;
          margin-bottom: 2.5rem !important;
        }
      }
    }

    .col-lg-3 {
      @media only screen and (max-width: 768px) {
        & {
          padding: 0;
        }
      }
    }

    .middle-item {
      .item-image {
        width: 100%;
      }

      .item-title {
        position: absolute;
        top: 82%;
        left: 40%;
        FONT-SIZE: 1.2rem;
        transform: translate(-50%, -50%);
        font-weight: 900;
      }
    }
  }
}

