@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}

.hero-image {
  width: 100%;
}

.custom-body {
  background-color: #000;
  -webkit-font-smoothing: antialiased;

  .hero-section {
    position: relative;
    text-align: center;
    
    .container-fluid {
      padding-right: 0px;
      padding-left: 0px;
    }

    .left-bar {
      .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .right-bar {
      .crop {
        height: 225px;
        width: 100%;
        overflow: hidden;
        margin: 0;

        @media only screen and (max-width: 768px) {
          & {
            height: 100%;
          }
        }

        .hero-image {
          width: 100%;
          display: block;
          margin: -28px 0 0 0px;
        }
      }

      .hero-text {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-50%, -50%);
        font-weight: 900;

        @media only screen and (max-width: 768px) {
          & {
            left: 31%;
          }
        }
      }

      .four-bar {
        text-align: left;

        .hero-text-min {
          position: absolute;
          top: 10%;
          left: 9%;
          font-size: 1.5rem;
          font-weight: 900;
        }
      }
    }
  }
}

