@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
body {
  font-family: 'Archivo Black', sans-serif;
}

body, html {
  height: 100%;
}



.App {
  text-align: center;
  height: 100vh;
}


.proje-link {
  color: white;

  &:hover {
    color: #d6d6d6;
  }
}

.hero-image {
  width: 100%;
  opacity: 0.6;
}

.navbar-wrapper {
  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  
    .navbar-dark {
      background-color: #883334;
      display: flex;
      justify-content: center;

      .nav-logo {
        padding: 10px;
      }
    }
  }
}

.footer-wrapper {


  .footer-bg {
    position: relative;
    min-height: calc(50vh - 80px);
    background-image: url('./image/anasayfa_footer.jpg');
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;

    @media only screen and (max-width: 812px) and (orientation: landscape) {
      & {
        background-size: auto;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: linear-gradient(to bottom,#000 0,rgba(0,0,0,.8) 6%,rgba(0,0,0,.1) 50%,rgba(0,0,0,.8) 94%,#000 100%);
      height: 100%;
    }
  }



  .footer-dark {
    display: flex;
    justify-content: center;
  }

  .social-media {
    display: flex;
    justify-content: center;

    .social-icon {
      height: 40px;
    }
  }

  .connect {
    font-size: 1.3rem;

    @media only screen and (max-width: 768px) {
      & {
        font-size: 1rem;
      }
    }
  }
}


.gradient {

    @media (min-width: 1281px)  {
      &::before {
        content: '';
        display: block;
        position: absolute;
        height: 0%;
        width: 100%;
        bottom: 0;
        mix-blend-mode: screen;
        transition:  .1s ease-out;
        background: linear-gradient(to bottom, rgba(26,112,9,1) 0%, rgba(21,195,214,1) 51%, rgba(223,225,94,1) 100%);
      }

      &:hover::before {
        height: 100%;
        opacity: .5;
        transition:  0.5s ease-out;
      }
    }
}

.line {
  background-color: red;
}
/* --------------------- hamburger start --------------------- */

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  color: #d1d1d1;
  transition: color 0.2s;
  font-size: .9rem;
  text-align: center;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

 .Collapsible {
   cursor: pointer;
   color: #d1d1d1;
   font-size: .9rem;
   text-transform: uppercase;

   .acc-link {
    text-decoration: none;
    color: #d1d1d1;
    font-size: .7rem;

    &:hover {
      color: white;
      text-decoration: none;
    }
   }
 }


/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 58px;
  height: 56px;
  right: 22px;
  top: 94px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-menu-wrap {
  width: 200px !important;
}


/* General sidebar styles */
.bm-menu {
  background: #363536;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  text-align: center;
  overflow: hidden !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* --------------------- hamburger end --------------------- */

.custom-body {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  overflow: auto;

  .hero-section {
    position: relative;
    text-align: center;
    
    .container-fluid {
      padding-right: 0px;
      padding-left: 0px;
    }

    .top-hero {
      .hero-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 900;
      }
    }

    .left-bar {


      @media (min-width: 1281px)  {
        &::before {
          content: '';
          display: block;
          position: absolute;
          height: 0%;
          width: 100%;
          bottom: 0;
          mix-blend-mode: screen;
          transition:  .1s ease-out;
          background: linear-gradient(to bottom, rgba(26,112,9,1) 0%, rgba(21,195,214,1) 51%, rgba(223,225,94,1) 100%);
        }
  
        &:hover::before {
          height: 100%;
          opacity: .5;
          transition:  0.5s ease-out;
        }
      }


      .hero-text {
        position: absolute;
        top: 39%;
        left: 44%;
        transform: translate(-50%, -50%);
        font-size: 1.3rem;

        @media only screen and (max-width: 768px) {
          & {
            left: 40%;
            top: 56%;
            font-size: 1rem;
          }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
          & {
            top: 74%;
            left: 45% !important;
          }
        }

      }

      .hero-logo {
        position: absolute;
        top: 23%;
        left: 34%;
        width: 50%;
        transform: translate(-50%, -50%);

        @media only screen and (max-width: 768px) {
          & {
            top: 23%;
            left: 40%;
            width: 60%;
          }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
          & {
            top: 40%;
          }
        }
      }
    }

    .hero-router {
      color: white;
    }

    .right-bar {


      .one-bar {

        @media (min-width: 1281px)  {
          &::before {
            background: linear-gradient(to bottom, rgba(26,112,9,1) 0%, rgba(21,195,214,1) 51%, rgba(223,225,94,1) 100%);
          }
    
          &:hover::before {
            height: 100%;
            opacity: .5;
            transition:  0.5s ease-out;
          }
        }

      }

      .hero-text {
        position: absolute;
        top: 50%;
        left: 20%;
        font-size: 2rem;
        transform: translate(-50%, -50%);
        font-weight: 900;

        @media only screen and (max-width: 768px) {
          & {
            left: 40%;
            width: 100%;
          }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
          & {
            left: 22%;
          }
        }

      }

      .four-bar {
        text-align: left;

        .hero-text-min {
          position: absolute;
          top: 10%;
          left: 9%;
          font-size: 1.5rem;
          font-weight: 900;
          padding-right: 5%;

          @media only screen and (max-width: 768px) {
            & {
              font-size: 1.2rem;
            }
          }
        }

        .first {
          left: 8%;

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              left: 10%;
            }
          }
        }
      }
    }
  }

  .middle {

    background: linear-gradient(to bottom, rgba(79,78,79,1) 0%, rgba(0,0,0,1) 100%);

    .middle-title {
      font-weight: 900;

      @media only screen and (max-width: 768px) {
        & {
          font-size: 1.5rem;
          margin-top: 2.5rem !important;
          margin-bottom: 2.5rem !important;
        }
      }
    }

    .col-lg-3 {
      @media only screen and (max-width: 768px) {
        & {
          padding: 0;
        }
      }
    }

    .middle-item {

      @media only screen and (max-width: 768px) {
        & {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 5%;

          .item-image {
            width: 300px;
          }

          .item-title {
            width: 200px;
          }
        }
      }

      @media only screen and (max-width: 812px) and (orientation: landscape) {
        & {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-bottom: 5%;
          
          .item-image {
            width: 100%;
          }
        }
      }

      @media (min-width: 1281px) {
        & {
          width: 250px;
          height: 250px;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;

          .item-image {
            width: 250px;
            height: 250px;
            transition:  0.5s ease-out;
    
            &:hover {
              width: 400px;
              height: 400px;
            }
          }
        }
      }


      .item-title {
        position: absolute;
        top: 82%;
        left: 40%;
        FONT-SIZE: 1.2rem;
        transform: translate(-50%, -50%);
        font-weight: 900;
      }
    }
  }
}


.section-wrapper {
  .container-fluid {
    padding: 0;
  }

  .section-header {
    .section-header-image {
      width: 100%;
    }

    .header-logo, .header-title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30%;
      transform: translate(-50%, -50%);

      &.drive-title,
      &.scada-title {
        top: 30%;

        @media only screen and (max-width: 768px) {
          & {
            top: 50%;
          }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
          & {
            top: 50%;
          }
        }

      }
      @media (min-width: 1281px) {
        &.scada-title {
          width: 50%;
        }
      }

      @media (min-width: 1281px) {
        &.iletisim-title {
          top: 36%;
        }
      }

      @media only screen and (max-width: 768px) {
        & {
          top: 77%;
        }
      }
      
    }

    .header-title {
      width: 100%;
      padding-top: 16%;
      font-size: 3rem;

      @media only screen and (max-width: 768px) {
        & {
            padding-top: 0;
            font-size: 1.5rem;
        }
      }

      @media only screen and (max-width: 812px) and (orientation: landscape) {
        & {
          padding-top: 0;
        }
      }

      /* styles for drive page */
      &.drive-title {
        font-size: 5rem;

        @media only screen and (max-width: 768px) {
          & {
              font-size: 1.5rem;
          }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
          & {
            font-size: 2.5rem;
          }
        }
      }
    }
  }

  .section-body {
    .section-body-text {
      text-transform: uppercase;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 0;
      margin-bottom: 0;

      @media (min-width: 1281px) {
        & {
          padding-left: 20%;
          padding-right: 20%;
          margin-top: 100px;
          margin-bottom: 100px;
        }
      }
    }

    &.drive {
      .section-body-text {
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
  }

  

  .icon-wrapper {
    .row {
      justify-content: center;
    }
    .col-lg-2 {
      margin-bottom: 1.5rem;
      @media (min-width: 1281px) {
        & {
          margin-right: 1rem;
        }
      }
    }
    .section-item {
      text-align: center;
  
      .section-body-icon {
        width: 135px;
      }
  
      .icon-title {
        font-size: 1rem;
      }
    }
    


  }

  .cati-wrapper {
    padding-left: 20%;
    padding-right: 20%;

    &.scada-wrapper {
      padding-left: 0;
      padding-right: 0;

      @media (min-width: 1281px) {
        & {
          margin-bottom: 13rem;
        }
      }
      

      .title-wrapper {
        &.pp-1 {
          position: absolute;
          width: 68%;
          top: 65%;
          left: 45%;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 768px) {
            & {
              width: 69%;
              top: 57%;
              left: 48%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 69%;
              top: 57%;
              left: 48%;
            }
          }
        }

        &.pp-2 {
          position: absolute;
          width: 68%;
          top: 49%;
          left: 47%;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 768px) {
            & {
              width: 57%;
              top: 56%;
              left: 48%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 62%;
              top: 57%;
              left: 52%;
            }
          }
        }

        &.pp-3 {
          position: absolute;
          width: 68%;
          top: 61%;
          left: 45%;
          transform: translate(-50%, -50%);


          @media only screen and (max-width: 768px) {
            & {
              width: 71%;
              top: 55%;
              left: 48%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 60%;
              top: 57%;
              left: 45%;
            }
          }
        }

        &.pp-4 {
          position: absolute;
          width: 68%;
          top: 50%;
          left: 45%;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 768px) {
            & {
              width: 62%;
              top: 57%;
              left: 46%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 57%;
              top: 60%;
              left: 46%;
            }
          }
        }

        &.pp-5 {
          position: absolute;
          width: 68%;
          top: 62%;
          left: 53%;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 768px) {
            & {
              width: 65%;
              top: 55%;
              left: 52%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 53%;
              top: 57%;
              left: 51%;
            }
          }
        }
        

        .scada-title {
          font-size: .8rem;

          @media (min-width: 1281px) {
            & {
              font-size: 1rem;
            }
          }
        }
      }

      & {
        .section-item {

          @media (min-width: 1281px) {
            & {
              padding: 0;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      & {
        padding-left: 10%;
        padding-right: 10%;
      }

      &.scada-wrapper {
        padding-left: 15%;
        padding-right: 15%;
      }
    }

    @media only screen and (max-width: 812px) and (orientation: landscape) {
      & {
        padding-left: 10%;
        padding-right: 10%;
      }

      &.scada-wrapper {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .cati {
      padding: 5%;

      @media (min-width: 1281px) {
        &.p-top {
          padding-top: 30%;

        }
      }
      
    
      .section-body-icon {
        width: 100%;
      }

      .icon-title {
        position: absolute;
        top: 60%;
        left: 50%;
        width: auto;
        transform: translate(-50%, -50%);

        

        @media (min-width: 1281px) {
          & {
            font-size: 1rem;
          }
        }

        @media only screen and (max-width: 768px) {
          & {
            top: 55%;
          }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
          & {
            top: 55%;
            font-size: .8rem;
          }
        }
      }
    }
  }

  .stratejik-wrapper {
    padding: 0;
    .stratejik {
      .icon-title {
        position: absolute;
        top: 32%;
        left: 50%;
        width: auto;
        transform: translate(-50%, -50%);

        @media (min-width: 1281px) {
          & {
            font-size: 1rem;
            width: 80%;
            padding-left: 5%;
            padding-right: 5%;
          }
        }

        @media only screen and (max-width: 768px) {
          & {
            top: 35%;
            width: 80%;
          }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
          & {
            top: 55%;
            font-size: .8rem;
          }
        }
      }

      .rozet-info-wrapper {
        position: absolute;
        top: 40%;
        left: 50%;
        width: auto;
        transform: translate(-50%, 0%);

        @media only screen and (max-width: 768px) {
          & {
            top: 48%;
            width: 80%;
            transform: translate(-52%, 0%);
          }
        }

        .rozet-info {
          font-size: 95%;
        }
      }

    }
  }

  .rozet1 {
    color: #e38479 !important;
  }

  .rozet2 {
    color: #a74fac !important;
  }

  .rozet3 {
    color: #0066c3 !important;
  }

  .second-section-wrapper {
    background-color: #e7e7e7;
    padding: 5%;

    @media (min-width: 1281px) {
      & {
        padding-left: 21%;
        padding-right: 21%;
      }
    }

    .second-section-title-wrapper {
      text-align: center;

      .section-title {
        @media only screen and (max-width: 768px) {
          & {
            font-size: 1.5rem;
          }
        }
      }
    }

    .cati-accordion {
      border: 1px solid #a91b1b;
      
      .acc-header {
        .acc-image-holder {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          @media (min-width: 1281px) {
            & {
              margin-left: 140px;
            }
          }
          

          @media only screen and (max-width: 768px) {
            & {
              margin-left: 5px;
            }
          }

          .acc-image {
            @media only screen and (max-width: 768px) {
              & {
                width: 50px;
              }
            }
          }

          .acc-title-holder {
            @media (min-width: 1281px) {
              .acc-title {
                width: 500px;
                font-size: 1.3rem;
              }
            }

            @media only screen and (max-width: 768px) {
              .acc-title {
                font-size: .8rem;
                width: 100%;
              }
            }

            @media only screen and (max-width: 812px) and (orientation: landscape) {
              .acc-title {
                font-size: 1rem;
                width: 350px;
              }
            }
            
          }
        }
      }

      .acc-text-holder {
        @media (min-width: 1281px) {
          & {
            margin-left: 250px;
          }
        }

        .accordion-text {
          @media only screen and (max-width: 768px) {
            & {
              font-size: .8rem;
            }
          }
        }
      }

    }
  }

  &.iletisim-wrapper {
    background: #333333;

    @media only screen and (max-width: 812px) and (orientation: landscape) {
      .section-header {
        .header-title {
          padding-top: 16%;
        }
      }
    }


    .contact-wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;

      .contact-thumb {
        width: 25px;
        margin-bottom: 3%;

        .contact-icon {
        max-width: 100%;

        &.pin {
          margin-top: 5px;
        }
        }
      }

      .contact-contact {
        width: calc(100% - 78px);
        padding-left: 20px;
      }

      
    }

    .contact-form {

      .form-control {
        background: transparent;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 0;
        padding-bottom: 0;
        color: white;
      }
      @media (min-width: 1281px) {
        textarea.form-control {
          height: 124px;
        }
      }
      
      .submit-button {
        display: flex;
        justify-content: flex-end;
      }
    }

    .ymaps-wrapper {
      @media only screen and (max-width: 768px) {
        & {
          margin-top: 2rem;
        }
      }

      @media only screen and (max-width: 812px) and (orientation: landscape) {
        & {
          margin-top: 1rem;
        }
      }
    }
  }

}

