.section-wrapper {
  .section-header {
    .section-header-image {
      width: 100%;
    }

    .header-logo, .header-title {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30%;
      transform: translate(-50%, -50%);

      &.scada-title {

        @media (min-width: 1281px) {
          width: 50%;
        }

        @media only screen and (max-width: 768px) {
          top: 50%;
        }
        @media only screen and (max-width: 812px) and (orientation: landscape) {
          top: 50%;
        }
      }
    }

    .header-title {
      width: 100%;
      font-size: 3rem;
      font-weight: 900;

      @media (min-width: 1281px) {
        font-size: 5rem;
      }
      
      @media only screen and (max-width: 768px) {
        & {
            padding-top: 0;
            font-size: 1.5rem;
        }
      }

      @media only screen and (max-width: 812px) and (orientation: landscape) {
        & {
          padding-top: 0;
        }
      }
    }
  }


  .cati-wrapper {
    padding-left: 20%;
    padding-right: 20%;

    &.scada-wrapper {
      padding-left: 0;
      padding-right: 0;

      @media (min-width: 1281px) {
        & {
          margin-bottom: 13rem;
        }
      }
      

      .title-wrapper {
        &.pp-1 {
          position: absolute;
          width: 68%;
          top: 65%;
          left: 45%;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 768px) {
            & {
              width: 69%;
              top: 57%;
              left: 48%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 69%;
              top: 57%;
              left: 48%;
            }
          }
        }

        &.pp-2 {
          position: absolute;
          width: 68%;
          top: 49%;
          left: 47%;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 768px) {
            & {
              width: 57%;
              top: 56%;
              left: 48%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 62%;
              top: 57%;
              left: 52%;
            }
          }
        }

        &.pp-3 {
          position: absolute;
          width: 68%;
          top: 61%;
          left: 45%;
          transform: translate(-50%, -50%);


          @media only screen and (max-width: 768px) {
            & {
              width: 71%;
              top: 55%;
              left: 48%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 60%;
              top: 57%;
              left: 45%;
            }
          }
        }

        &.pp-4 {
          position: absolute;
          width: 68%;
          top: 50%;
          left: 45%;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 768px) {
            & {
              width: 62%;
              top: 57%;
              left: 46%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 57%;
              top: 60%;
              left: 46%;
            }
          }
        }

        &.pp-5 {
          position: absolute;
          width: 68%;
          top: 62%;
          left: 53%;
          transform: translate(-50%, -50%);

          @media only screen and (max-width: 768px) {
            & {
              width: 65%;
              top: 55%;
              left: 52%;
            }
          }

          @media only screen and (max-width: 812px) and (orientation: landscape) {
            & {
              width: 53%;
              top: 57%;
              left: 51%;
            }
          }
        }
        

        .scada-title {
          font-size: .8rem;

          @media (min-width: 1281px) {
            & {
              font-size: 1rem;
            }
          }
        }
      }

      & {
        .section-item {

          @media (min-width: 1281px) {
            & {
              padding: 0;
            }
          }
        }
      }
    }

    @media only screen and (max-width: 768px) {
      & {
        padding-left: 10%;
        padding-right: 10%;
      }

      &.scada-wrapper {
        padding-left: 15%;
        padding-right: 15%;
      }
    }

    @media only screen and (max-width: 812px) and (orientation: landscape) {
      & {
        padding-left: 10%;
        padding-right: 10%;
      }

      &.scada-wrapper {
        padding-left: 0;
        padding-right: 0;
      }
    }
    .cati {
      padding: 5%;

      @media (min-width: 1281px) {
        &.p-top {
          padding-top: 30%;

        }
      }
      
    
      .section-body-icon {
        width: 100%;
      }

      .icon-title {
        position: absolute;
        top: 60%;
        left: 50%;
        width: auto;
        transform: translate(-50%, -50%);

        

        @media (min-width: 1281px) {
          & {
            font-size: 1rem;
          }
        }

        @media only screen and (max-width: 768px) {
          & {
            top: 55%;
          }
        }

        @media only screen and (max-width: 812px) and (orientation: landscape) {
          & {
            top: 55%;
            font-size: .8rem;
          }
        }
      }
    }
  }
}