.icon-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;

  @media only screen and (max-width: 768px) {
    margin-top: 50px;
  }

  @media only screen and (max-width: 812px) and (orientation: landscape) {
    margin-top: 50px;
  }
  .section-body-icon {
    width: 150px;
  }
}

